.attribution { font-size: 11px; text-align: center; }
.attribution__link { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* font-family: 'Inter', sans-serif;

font-family: 'Lexend Deca', sans-serif; */

.canvas {
	background-color: hsl(233, 47%, 7%);
	margin: 0;
}

.card {
	margin: 9.1% 6.4%;
	background-color: hsl(244, 38%, 16%);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photo {
	background-image: linear-gradient(rgba(0, 0, 255, .32), rgba(0, 0, 255, .32)), url(./images/image-header-mobile.jpg);
	filter: brightness(.8);
	width: 100%;
	aspect-ratio: 109 / 80;
	background-size: contain;
	border-radius: 10px 10px 0 0;
}