@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/*     font-family: 'Inter', sans-serif;

    font-family: 'Lexend Deca', sans-serif; */

html {
	font-size: 15px;
}

body {
	background-color: hsl(233, 47%, 7%);
	padding: 20% 6%;
}

main {
	background-color: hsl(244, 38%, 16%);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Inter, sans-serif;
	font-weight: 400;
}

.picture {
	background-image: linear-gradient(rgba(0, 0, 255, .32), rgba(0, 0, 255, .32)), url(./images/image-header-mobile.jpg);
	filter: brightness(.8);
	width: 100%;
	aspect-ratio: 109 / 80;
	background-size: contain;
	border-radius: 10px 10px 0 0;
}

h1 {
	color: hsl(0, 0%, 100%);
	font-weight: 700;
	font-size: 2rem;
	text-align: center;
	margin: 2.5rem 1rem 1rem;
}

h1 b {
	color: hsl(277, 64%, 61%);
}

p {
	color: hsla(0, 0%, 100%, 0.75);
	text-align: center;
	margin: 0 1.5rem 2.5rem;
	line-height: 1.7rem;
}

ul {
	text-align: center;
	line-height: 1.6rem;
	margin-bottom: 1rem;
}

li {
	margin-bottom: 1.5rem;
}

.sh {
	color: hsla(0, 0%, 100%, 0.6);
	font-family: "Lexend Deca", sans-serif;
	text-transform: uppercase;
	font-size: .8rem;
	letter-spacing: .1rem;
}

.stats {
	color: hsl(0, 0%, 100%);
	font-weight: 700;
	font-size: 1.5rem;
}

.attribution {
	font-size: 11px;
	text-align: center;
	color: hsla(0, 0%, 100%, 0.6);
	margin-top: 1rem;
}

.attribution a {
	color: hsl(228, 45%, 44%);
	text-decoration-line: none;
}

@media (min-width: 1280px) {

	body {
		padding: 10% 9%;
	}

	main {
		flex-direction: row;
		
	}

	.picture {
		background-image: linear-gradient(rgba(0, 0, 255, .32), rgba(0, 0, 255, .32)), url(./images/image-header-desktop.jpg);
		filter: brightness(.8);
		aspect-ratio: 270 / 223;
		border-radius: 0px 10px 10px 0px;
		background-repeat: no-repeat;
		order: 1;
	}

	.text {
		flex-direction: column;
		width: 100%;
		padding: 0px 5% 0px 5%;
		margin: 0 0 2rem 0;
	}

	h1 {
		text-align: left;
		padding: inherit;
		margin: inherit;
		margin-top: 3rem;
}

	p {
		text-align: left;
		padding: inherit;
		margin: inherit;
	}

	ul {
		display: grid;
		grid-template-columns: auto auto auto;
		text-align: left;
		padding: inherit;
		margin: inherit;
		margin-top: 4rem;
		margin-bottom: 0;
	}

	.attribution {
		font-size: larger;
	}

}